.home {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.latest-news, .explore-our-courses,
.explore-our-ebooks, .our-advantages,
.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}